<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  {{> header }}
  <main class="page-main">
    {{> description-content }}
    {{> advantages-block }}
    {{> modal-content }}
    <div class="clients-block__box">
      {{> clients-block }}
    </main>
    <footer class="page-footer">
      <div class="feedback-block feedback-block__box--blue">
        {{> feedback-block }}
        {{> social-block }}
      </div>
    </footer>
  </div>
  <script src="assets/js/main.min.js"></script>
</body>

</html>
