<section class="advantages-block">
  <div class="advantages-block__inner">
    <h2 class="advantages-block__heading">What we&nbsp;do&nbsp;to&nbsp;help our client grow in digital era,</h2>
    <ul class="advantages-block__list">

      <li class="advantages-block__item">
        <div class="advantages-block__wrapper">
          <img class="advantages-block__img" src="assets/img/man2.png" alt="man with advantages" width="224"
            height="197">
          <h3 class="advantages-block__head">Bring Technology To Your
            Comfrotable Home</h3>
          <p class="advantages-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="advantages-block__link" href="#">Learn more
            <svg class="advantages-block__svg" width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#advantages__arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="advantages-block__item">
        <div class="advantages-block__wrapper">
          <img class="advantages-block__img" src="assets/img/man1.png" alt="man" width="182" height="132">
          <h3 class="advantages-block__head">Make Your business To Be
            Better Famous In Internet</h3>
          <p class="advantages-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut
            labore et dolore magna aliqua.</p>
          <a class="advantages-block__link" href="#">Learn more
            <svg class="advantages-block__svg" width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#advantages__arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="advantages-block__item">
        <div class="advantages-block__wrapper">
          <img class="advantages-block__img" src="assets/img/girl.png" alt="girl" width="156" height="131">
          <h3 class="advantages-block__head">Build Your Digital Product
            That Suitable For Your Need</h3>
          <p class="advantages-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="advantages-block__link" href="#">Learn more
            <svg class="advantages-block__svg" width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#advantages__arrow"></use>
            </svg>
          </a>
        </div>
      </li>

    </ul>
  </div>
</section>
