<section class="clients-block">
  <div class="clients-block__wrapper">
    <ul class="clients-block__list">
      <li class="clients-block__item clients-block__item--block">
        <h2 class="clients-block__heading">Our Beloved
          Client</h2>
      </li>
      <li class="clients-block__item">
        <p class="clients-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </li>
    </ul>
    <ul class="clients-block__logo clients-block__logo--item">
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 1</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 2</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 3</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 4</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 5</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 6</a>
      </li>
      <li class="clients-block__table">
        <a class="clients-block__link" href="#">logo client 7</a>
      </li>
      <li class="clients-block__table clients-block__table--background">
        <a class="clients-block__link" href="#">More Client</a>
      </li>
    </ul>
  </div>
</section>
