<section class="feedback-block">
      <div class="feedback-block__wrapper">
        <ul class="feedback-block__list">
          <li class="feedback-block__item">
            <h2 class="feedback-block__heading">Intersted to woek
              <br>with our team?
            </h2>
            <p class="feedback-block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </li>
        </ul>
        <a class="feedback-block__link" href="#" aria-label="modal-form">Let’s Talk</a>
      </div>
    </section>
