<header class="header-block">
  <nav class="header-block__nav">
    <ul class="header-block__list">
      <li class="header-block__item">
        <svg class="header-block__svg" width="48" height="48">
          <use xlink:href="assets/img/sprite.svg#header__logo"></use>
        </svg>
      </li>

      <li class="header-block__item">
        <button class="header-block__burger" type="button" aria-label="burger-menu">
          <span class="header-block__toggle"></span>
        </button>
      </li>

    </ul>

    <ul class="header-block__content">
      <li class="header-block__wrapper">
        <a class="header-block__link" href="#">Link1</a>
      </li>

      <li class="header-block__wrapper">
        <a class="header-block__link" href="#">Link2</a>
      </li>

      <li class="header-block__wrapper">
        <a class="header-block__link" href="#">Link3</a>
      </li>

      <li class="header-block__wrapper">
        <a class="header-block__link" href="#">Link4</a>
      </li>

    </ul>

    </ul>
  </nav>
</header>
