<section class="social-block">
  <div class="social-block__wrapper">
    <div class="social-block__inner">

      <ul class="social-block__list social-block__info">
        <li class="social-block__item">
          <a class="social-block__link social-block__name" href="#">
            <svg class="social-block__svg" width="48" height="48">
              <use xlink:href="assets/img/sprite.svg#footer__logo"></use>
            </svg>
            <p class="social-block__text">Afrianska</p>
          </a>
        </li>

        <li class="social-block__item">
          <a class="social-block__link social-block__web" href="#">Lorem ipsum dolor sit amet,
            <br>consectetur
            adipisicing elit.
            <span class="social-block__number">A.</span>
          </a>
        </li>

        <li class="social-block__item">
          <a class="social-block__link" href="tel:+6281273134321">+62-812-7313-4321
            <span class="social-block__number">T.</span>
          </a>
        </li>

        <li class="social-block__item">
          <a class="social-block__link" href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com
            <span class="social-block__number">T.</span>
          </a>
        </li>

      </ul>
      {{> contacts-block }}
    </div>
    <p class="contacts-block__copyright"><time datetime="2019">2019 © Afrianska. All rights reserved.</time></p>
  </div>
</section>
